<div class="col">
    <div class="card shadow-sm">
        <img class="img-fluid" src="../../../assets/viaje.jpg" width="100%" height="225" >

      <div class="card-body">
        <p class="card-text">Viva una experiencia inolvidable visitando TEL AVIV, CESÁREA, HAIFA, ACRE, NAZARET, TABGHA, CAFARNAUM, JERUSALÉN, BELÉN.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Reservar</button>
          </div>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
</div>
